In [1]:
import pandas as pd
import io
import requests
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import numpy as np
import requests
from statsmodels import api as sm

In [3]:
url_2021='https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/birthsdeathsandmarriages/deaths/datasets/weeklyprovisionalfiguresondeathsregisteredinenglandandwales/2021/copyofpublishedweek042021.xlsx'
url_2020='https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/birthsdeathsandmarriages/deaths/datasets/weeklyprovisionalfiguresondeathsregisteredinenglandandwales/2020/publishedweek532020.xlsx'

In [4]:
cases_raw    = requests.get(url_2021).content

In [6]:
cases_csv    = pd.read_excel(io.StringIO(cases_raw.decode('utf-8').strip()))

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xbd in position 14: invalid start byte

In [3]:

hdr = {'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
      "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36",
            "X-Requested-With": "XMLHttpRequest"} #change the version of the browser accordingly

resp = requests.get(url_2020, headers = hdr)
pd.read_excel(resp.content)

ValueError: Must explicitly set engine if not passing in buffer or path for io.

In [30]:
#df = pd.read_excel('publishedweek532020B.xlsx')

In [6]:
cases_csv

NameError: name 'cases_csv' is not defined

In [15]:
df

              a            b         c            d            e   f
0    1999-12-31  1000.000000  0.000000   0.00000000   0.00000000 NaN
1    2000-01-03   996.740000 -0.003260                           NaN
2    2000-01-04   986.991882 -0.009780                           NaN
3    2000-01-05   984.159216 -0.002870                           NaN
4    2000-01-06   982.397571 -0.001790                           NaN
5    2000-01-07   977.014032 -0.005480                           NaN
6    2000-01-10   979.759442  0.002810                           NaN
7    2000-01-11   993.505467  0.014030                           NaN
8    2000-01-12   996.257477  0.002770                           NaN
9    2000-01-13   994.693353 -0.001570                           NaN
10   2000-01-14  1004.341878  0.009700                           NaN
11   2000-01-17  1006.300344  0.001950                           NaN
12   2000-01-18  1016.554544  0.010190                           NaN
13   2000-01-19  1013.433721 -0.003070                           NaN
14   2000-01-20  1012.967542 -0.000460                           NaN
15   2000-01-21  1011.053034 -0.001890                           NaN
16   2000-01-24  1011.851766  0.000790                           NaN
17   2000-01-25  1011.659514 -0.000190                           NaN
18   2000-01-26  1006.935064 -0.004670                           NaN
19   2000-01-27  1014.617978  0.007630                           NaN
20   2000-01-28  1021.568112  0.006850                           NaN
21   2000-01-31  1023.396719  0.001790   0.02339672              NaN
22   2000-02-01  1020.152551 -0.003170                           NaN
23   2000-02-02  1014.939572 -0.005110                           NaN
24   2000-02-03  1001.278486 -0.013460                           NaN
25   2000-02-04  1009.228637  0.007940                           NaN
26   2000-02-07  1018.069480  0.008760                           NaN
27   2000-02-08  1010.881910 -0.007060                           NaN
28   2000-02-09  1012.934001  0.002030                           NaN
29   2000-02-10  1019.913116  0.006890                           NaN
...         ...          ...       ...          ...          ...  ..
5476 2020-12-28  2277.262551  0.002800                           NaN
5477 2020-12-29  2289.946862  0.005570                           NaN
5478 2020-12-30  2305.758231  0.006905                           NaN
5479 2020-12-31  2307.051170  0.000561   0.05584696   0.03163429 NaN
5480 2021-01-01  2306.733981 -0.000138                           NaN
5481 2021-01-04  2315.438340  0.003773                           NaN
5482 2021-01-05  2333.715637  0.007894                           NaN
5483 2021-01-06  2331.453638 -0.000969                           NaN
5484 2021-01-07  2330.217152 -0.000530                           NaN
5485 2021-01-08  2327.293260 -0.001255                           NaN
5486 2021-01-11  2310.546361 -0.007196                           NaN
5487 2021-01-12  2332.322183  0.009425                           NaN
5488 2021-01-13  2328.922863 -0.001458                           NaN
5489 2021-01-14  2346.200926  0.007419                           NaN
5490 2021-01-15  2321.330562 -0.010600                           NaN
5491 2021-01-18  2321.338243  0.000003                           NaN
5492 2021-01-19  2328.303535  0.003001                           NaN
5493 2021-01-20  2338.074340  0.004197                           NaN
5494 2021-01-21  2341.814927  0.001600                           NaN
5495 2021-01-22  2314.292536 -0.011753                           NaN
5496 2021-01-25  2318.517837  0.001826                           NaN
5497 2021-01-26  2324.517470  0.002588                           NaN
5498 2021-01-27  2298.108697 -0.011361                           NaN
5499 2021-01-28  2295.605160 -0.001089                           NaN
5500 2021-01-29  2279.429870 -0.007046   -0.0119728              NaN
5501 2021-02-01  2292.167224  0.005588                           NaN
5502 2021-02-02  2298.102801  0.002589                           NaN
5503 2021-02-03  2308.546131  0.004544                           NaN
5504 2021-02-04  2309.132936  0.000254                           NaN
5505 2021-02-05  2322.677023  0.005865   0.01897276   0.00677285 NaN

[5506 rows x 6 columns]